
:host {
    --color: #5fbc2c;
    --white: #fcfdfe;
    --hammer: #ff7760;
    --black: #000000;
    --face: #ff7760;
    --faceshade: #cf6958;
}

.climber-container{
    display: flex;
    align-items: start;
    justify-content: left;
    height: 20rem;
    width: 12rem;
    border: 1px solid rgb(30, 25, 50);
    background-color: black;
    padding: 5px;
    border-radius: 10px;
}

.climber {
    width: 1rem;
    height: 1rem;
    box-shadow:
    4rem 0 var(--color),
    5rem 0 var(--color),
    6rem 0 var(--white),
    7rem 0 var(--white),
    8rem 0 var(--white),
    
    3rem 1rem var(--color),
    4rem 1rem var(--color),
    5rem 1rem var(--white),
    6rem 1rem var(--white),
    7rem 1rem var(--white),
    8rem 1rem var(--white),
    9rem 1rem var(--white),
    
    2rem 2rem var(--color),
    3rem 2rem var(--color),
    4rem 2rem var(--white),
    5rem 2rem var(--white),
    6rem 2rem var(--white),
    7rem 2rem var(--black),
    8rem 2rem var(--black),
    9rem 2rem var(--white),
    
    1rem 3rem var(--color),
    2rem 3rem var(--color),
    3rem 3rem var(--color),
    4rem 3rem var(--white),
    5rem 3rem var(--white),
    6rem 3rem var(--black),
    7rem 3rem var(--black),
    8rem 3rem var(--black),
    9rem 3rem var(--white),
    
    1rem 4rem var(--color),
    2rem 4rem var(--color),
    3rem 4rem var(--color),
    4rem 4rem var(--white),
    5rem 4rem var(--white),
    6rem 4rem var(--black),
    7rem 4rem var(--faceshade),
    8rem 4rem var(--face),
    
    1rem 5rem var(--color),
    2rem 5rem var(--color),
    3rem 5rem var(--color),
    4rem 5rem var(--white),
    5rem 5rem var(--white),
    6rem 5rem var(--faceshade),
    7rem 5rem var(--black),
    8rem 5rem var(--face),
    
    1rem 6rem var(--color),
    2rem 6rem var(--color),
    3rem 6rem var(--color),
    4rem 6rem var(--white),
    5rem 6rem var(--white),
    6rem 6rem var(--face),
    7rem 6rem var(--black),
    8rem 6rem var(--face),
    9rem 6rem var(--face),
    
    1rem 7rem var(--color),
    2rem 7rem var(--color),
    3rem 7rem var(--color),
    4rem 7rem var(--white),
    5rem 7rem var(--white),
    6rem 7rem var(--color),
    7rem 7rem var(--face),
    8rem 7rem var(--face),
    9rem 7rem var(--face),
    
    2rem 8rem var(--color),
    3rem 8rem var(--color),
    4rem 8rem var(--white),
    5rem 8rem var(--white),
    6rem 8rem var(--black),
    7rem 8rem var(--white),
    8rem 8rem var(--white),
    9rem 8rem var(--white),
    10rem 8rem var(--white),
    
    3rem 9rem var(--color),
    4rem 9rem var(--color),
    5rem 9rem var(--black),
    6rem 9rem var(--black),
    7rem 9rem var(--white),
    8rem 9rem var(--white),
    9rem 9rem var(--white),
    
    2rem 10rem var(--color),
    3rem 10rem var(--color),
    4rem 10rem var(--black),
    5rem 10rem var(--black),
    6rem 10rem var(--color),
    7rem 10rem var(--color),
    8rem 10rem var(--color),
    9rem 10rem var(--color),
    
    1rem 11rem var(--color),
    2rem 11rem var(--color),
    3rem 11rem var(--color),
    4rem 11rem var(--black),
    5rem 11rem var(--hammer),
    6rem 11rem var(--hammer),
    7rem 11rem var(--hammer),
    8rem 11rem var(--color),
    9rem 11rem var(--white),
    
    1rem 12rem var(--color),
    2rem 12rem var(--color),
    3rem 12rem var(--black),
    4rem 12rem var(--hammer),
    5rem 12rem var(--hammer),
    6rem 12rem var(--black),
    7rem 12rem var(--black),
    8rem 12rem var(--hammer),
    9rem 12rem var(--color),
    10rem 12rem var(--white),
    
    1rem 13rem var(--hammer),
    2rem 13rem var(--hammer),
    3rem 13rem var(--black),
    4rem 13rem var(--hammer),
    5rem 13rem var(--hammer),
    6rem 13rem var(--hammer),
    7rem 13rem var(--black),
    8rem 13rem var(--hammer),
    9rem 13rem var(--color),
    10rem 13rem var(--white),

    0 14rem var(--hammer),    
    1rem 14rem var(--hammer),
    2rem 14rem var(--hammer),
    3rem 14rem var(--hammer),
    4rem 14rem var(--hammer),
    5rem 14rem var(--hammer),
    6rem 14rem var(--hammer),
    7rem 14rem var(--black),
    8rem 14rem var(--hammer),
    9rem 14rem var(--color),
    10rem 14rem var(--color),
    11rem 14rem var(--color),

    1rem 15rem var(--color),
    2rem 15rem var(--color),
    3rem 15rem var(--color),
    4rem 15rem var(--hammer),
    5rem 15rem var(--hammer),
    6rem 15rem var(--hammer),
    7rem 15rem var(--hammer),
    8rem 15rem var(--hammer),
    9rem 15rem var(--color),
    10rem 15rem var(--color),
    11rem 15rem var(--color),

    0 16rem var(--color),    
    1rem 16rem var(--color),
    2rem 16rem var(--color),
    3rem 16rem var(--color),
    4rem 16rem var(--hammer),
    5rem 16rem var(--hammer),
    6rem 16rem var(--hammer),
    7rem 16rem var(--hammer),
    8rem 16rem var(--hammer),
    9rem 16rem var(--color),
    10rem 16rem var(--color),
    
    2rem 17rem var(--color),
    3rem 17rem var(--color),
    4rem 17rem var(--color),
    5rem 17rem var(--hammer),
    6rem 17rem var(--hammer),
    7rem 17rem var(--hammer),
    8rem 17rem var(--color),
    9rem 17rem var(--color),

    3rem 18rem var(--white),
    4rem 18rem var(--white),
    5rem 18rem var(--white),
    8rem 18rem var(--white),
    9rem 18rem var(--white),

    3rem 19rem var(--white),
    4rem 19rem var(--white),
    5rem 19rem var(--white),
    6rem 19rem var(--white),
    8rem 19rem var(--white),
    9rem 19rem var(--white),
    10rem 19rem var(--white);
}
