
<div class="cover flex">
    <div class="banner">
        <button>&larr; Volver</button>
        <div class="title">MAYOR O MENOR</div>
        <div>Score: 0</div>
    </div>
    <!-- <p>game-mayor-menor works!</p> -->
    <div class="game-container">
        <p>Quedan 37 cartas en el Mazo</p>
        <img src="../assets/mayormenor/deck/cover.png" alt="">
        <div class="btn-container flexrow">
            <button>MAYOR</button>
            <button>MENOR</button>
        </div>
    </div>
    <div class="last-card-container">
        <p>Ultima Carta</p>
        <img src="../assets/mayormenor/deck/diamante_2.png" alt="">
    </div>
</div>
