
<nav class="navbar">
    <div class="flexrow" [style.marginLeft.px]="25">
        <a [routerLink]="['/']">
            <img class="brand-logo" src="{{ASSETS_DIR}}/tierra-arcade.png" alt="logo" aria-hidden="true">
        </a>
        <ul id="main-menu" class="menu">
            <li><a [routerLink]="['/']">HOME</a></li>
            <li><a [routerLink]="['/about']">EL CREADOR</a></li>
        </ul>
    </div>
    <div class="flex" [style.marginRight.px]="25">
        <a [routerLink]="['/login']" *ngIf="!sessionData.active"><p>LOGIN</p></a>
        <div class="profile flexrow" *ngIf="sessionData.active">
            <app-profile-card></app-profile-card>
            <a (click)="Logout()"><p>LOGOUT</p></a>
        </div>
    </div>
</nav>
