
<section class="section flex">
    <div class="overlay"></div>
    <div class="main-form flex">
        <div>
            <p class="lvl-p">Lvl. 31</p>
            <img src="../assets/healthbar.png" alt="">
            <p class="title-p">The Maker</p>
        </div>

        <div class="personal-info flex">
            <img src="../assets/maker.jpg" alt="">
            <p>Gonzalo Montero (AKA 'The Maker') es estudiante del último cuatrimestre de la Tecnicatura Universitaria en Programación de la UTN-FRA.</p>
            <p>Es, además, amante del cine y gamer de la guardia vieja: ningún joystick tiene demasiados ni muy pocos botones.</p>
        </div>
    </div>
</section>
