
<div class="cover">
    <div class="toolbar">
        <div class="toolbar-content flexrow">
            <button [routerLink]="['/']">&larr; Volver</button>
            <app-profile-card></app-profile-card>
        </div>
    </div>
    <div id="chat-container">
        <div class="msg" *ngFor="let msg of getMessages()">
            <p class="msgSender"><span class="msgUsername">{{ msg.user }}</span> dice:</p>
            <p class="msgContent"><span class="msgTime" 
                title="{{ (msg.timestamp.seconds * 1000) | date:'dd/MM/yy - HH:mm:ss' }}">
                [{{ (msg.timestamp.seconds * 1000) | date:'HH:mm' }}]</span>{{ msg.message }}</p>
        </div>
    </div>

    <div class="input-container">
        <textarea name="Text1" cols="40" rows="5" [(ngModel)]="message"></textarea>
        <button (click)="sendMessage()">Enviar</button>
    </div>

    <!-- <div class="users-info">
        Lista de usuarios
    </div> -->
</div>
