
<div class="cover flex">
    <div class="toolbar">
        <div class="toolbar-content">
            <button [routerLink]="['/']">
                <p>&larr; Volver</p>
            </button>
            <app-profile-card></app-profile-card>
        </div>
    </div>
    <div id="chat-container" class="flex">
        <div class="msg" *ngFor="let msg of getMessages()" [class.ownMsg]="this.session.session.username == msg.user">
            <p class="msgSender">{{ msg.user }}</p>
            <p class="msgContent">{{ msg.message }}<span class="msgTime" 
                title="{{ (msg.timestamp.seconds * 1000) | date:'dd/MM/yy - HH:mm:ss' }}">
                {{ (msg.timestamp.seconds * 1000) | date:'HH:mm' }}</span></p>
        </div>
    </div>

    <div class="input-container">
        <input type="text" name="textmsg" id="textmsg" [(ngModel)]="message" placeholder="Escribe un mensaje.">
        <button (click)="sendMessage()">
            <fa-icon class="sendIcon" [icon]="icon"></fa-icon>
            Enviar
        </button>
    </div>

</div>
