
<nav class="navbar">
    <div class="col">
        <ul id="main-menu" class="menu">
            <li><a [routerLink]="['/']">HOME</a></li>
            <li><a [routerLink]="['/about']">EL CREADOR</a></li>
        </ul>
    </div>
    <div class="col logo-col">
        <a [routerLink]="['/']">
            <img class="brand-logo" src="/assets/tierra-arcade.png" alt="logo" aria-hidden="true">
        </a>
    </div>
    <div class="col user-col">
        <p></p>
        <a [routerLink]="['/login']"><p>LOGIN</p></a>
    </div>
</nav>
