

* {
    font-family: "pokemon", "Pixelify Sans", sans-serif;
    /* border: 1px solid red; */
}

.overlay {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.main-form {
    max-width: 550px;
    min-width: 400px;
    width: 100%;
    background-color: white;
    margin: 100px 0px;
    padding-bottom: 25px;
}

.form-container {
    width: 100%;
    margin-top: 25px;
    gap: 35px;
}

.form-element {
    width: 100%;
    gap: 10px;
}

.ptitle {
    font-size: 15px;
    margin: 0px;
}

.btn-container {
    width: 100%;
}

.btn-container button {
    margin-top: 3px;
    margin-left: 2px;
}


.submit-btn-container {
    width: 100%;
    gap: 15px;
}

.avatar {
    width: 100%;
    padding-top: 20px;
}

.avatar-container {
    width: 100%;
    justify-content: space-around;
}

.avatar img {
    width: 50px;
    cursor: pointer;
}



button {
    width: 50%;
    height: 40px;
    margin: 3px 2px 0px 0px;
    background-color: transparent;
    border: 0px;
    text-transform: uppercase;
    cursor: pointer;
}

.pkmn-btn {
    width: 60%;
    background-image: linear-gradient(to bottom, #e73737 0%,#873f3f 100%);
    border: 3px solid black;
    color: white;
    border-radius: 50px;
    padding: 5px;
    text-shadow: 1px 1px 0 #000,
            -1px 1px 0 #000,
            1px -1px 0 #000,
            -1px -1px 0 #000,
            0px 1px 0 #000,
            1px 0px 0 #000,
            2px 2px 0 #000,
            -2px 2px 0 #000,
            2px -2px 0 #000,
            -2px -2px 0 #000,
            0px 2px 0 #000,
            2px -1px 0 #000,
            -2px -1px 0 #000;
}

.pkmn-btn-inactive {
    background-image: linear-gradient(to bottom, #b3b2b2 0%,#474646 100%);
    cursor: no-drop;
}

label {
    font-size: 15px;
}

.dislike-container {
    padding-top: 10px;
}

.dislike-container label {
    font-size: 13px;
    padding-left: 5px;
    color: rgb(151, 0, 0);
}

.color-label {
    font-size: 13px;
    padding-right: 10px;
}

input[type=text], input[type=password], input[type=email] {
    font-size: 16px;
    width: 60%;
    padding: 5px;
    border: 2px solid white;
    border-radius: 2px;
    box-shadow: 0 1px 0 1px black,
                inset 0 1px 0 1px black,
                0 0 0 1px black,
                inset 0 0 0 1px black;
}

.pokebox {
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: 0 3px 0 1px black,
                inset 0 1px 0 2px black,
                0 0 0 1px black,
                inset 0 0 0 1px black,
                0px 0px 10px 10px #faeb29;
}

.pwd {
    font-size: 18px;
}

p {
    font-size: 13px;
}

.option-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.option-container label {
    font-size: 13px;
}

.option-container img {
    width: 90px;
    padding: 2px;
}

.option-lbl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.small {
    font-size: 10px;
}

.type-selector {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
}

.type-selector select {
    min-width: 60px;
    font-size: 14px;
    padding: 2px;
    border: 2px solid white;
    border-radius: 2px;
    box-shadow: 0 1px 0 1px black,
                inset 0 1px 0 1px black,
                0 0 0 1px black,
                inset 0 0 0 1px black;
}

.type-selector label {
    font-size: 13px;
}

.type-display {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.remember-container {
    width: 100%;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}

.remember-container label {
    font-size: 11px;
}

.recovery-container a {
    color: #cf4036;
}

.recovery-container p {
    font-size: 10px;
}


.simba {
    width: 20px;
    padding-bottom: 10px;
    margin-left: 5px;
    transition: all 0.5s ease-in-out;
}

.alert {
    font-size: 13px;
    color: red;
}