

<div class="cover">
    <div class="canvas-container" style="margin: auto; width: 75%;">
        <canvas id="nes-canvas" width="256" height="240"></canvas>
    </div>
    <div class="btn-container flexrow">
        <button id="btn-home" (click)="getInfo()">COMO JUGAR</button>
        <button id="btn-start" (click)="start()">COMENZAR JUEGO</button>
        <a href="./" class="button">VOLVER A INICIO</a>
    </div>
    <!-- <div class="flex">
        <p id="status">ESTADO: SIN INICIAR</p>
        <div class="controls-container flexrow">
            <p>Controles:</p>
            <div>
                <p><b>Movimiento:</b> Arrow Keys.</p>
                <p><b>Start:</b> Enter.&emsp;<b>Select:</b> Tab.</p>
                <p><b>A Button:</b> A.&emsp;<b>B Button:</b> S</p>
            </div>
        </div>
    </div> -->
</div>
