

<div class="canvas flex">
    <div class="mt-4 container">
        <h2 class="text-center text-success">Logs: {{this.logger.logdataCollection.length}}</h2>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Usuario</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let log of this.logger.logdataCollection; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ (log.fecha.seconds * 1000) | date:'dd-MM-yy / hh:mm:ss' }}</td>
                    <td>{{ log.user }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
