
.mariobox {
    max-width: 550px;
    min-width: 400px;
    width: 50%;
    height: 50%;
    background-color: #c14a2c;
    color: #f8ddd5;
    margin: 100px 0px;
    padding: 30px 20px;
    font-size: 18px;
    box-shadow: 3px 3px 0px #111111,
                -3px -3px 0px #caafb8;
    font-family: 'NES', "Pixelify Sans", sans-serif;
    gap: 30px;
}

.mariobox p {
    text-align: center;
    margin: 0px;
}

.mariobox button {
    font-size: 16px;
    background-color: #ebbbaf;
    font-family: 'NES', "Pixelify Sans", sans-serif;
    padding: 10px;
    border: 2px solid #4d5b9e;
    color: #4d5b9e;
    border-radius: 5px;
    cursor: pointer;
}

