

<section class="section flex">
    <div class="overlay"></div>
    <div class="mariobox flex">
        <p>MENÚ DE JUEGOS</p>
        <p>Este es el panel de control de juegos.</p>
        <p>Ya tienes una sesión activa.</p>

        <div class="game-container flex">
            <div class="game-card flex">
                <p class="game-title">EL AHORCADO</p>
                <div class="game-content flexrow">
                    <img src="../assets/tarot/12.jpg" alt="">
                    <p>Tradicional juego del ahorcado.<br><br>Se revela la cantidad de letras de una palabra y el jugador tiene que adivinar una por una las letras hasta descubrir por completo la palabra.</p>
                </div>
            </div>
            <div class="game-card flex">
                <p class="game-title">MAYOR O MENOR</p>
                <div class="game-content flexrow">
                    <img src="../assets/tarot/20.jpg" alt="">
                    <p>Juego de cartas en el que el jugador debe adivinar si la próxima carta será menor o mayor que la actual.</p>
                </div>
            </div>
            <div class="game-card flex">
                <p class="game-title">PREGUNTADOS</p>
                <div class="game-content flexrow">
                    <img src="../assets/tarot/10.jpg" alt="">
                    <p>Juego de preguntas y respuestas organizado en seis categorías: Geografía, Ciencia, Historia, Deporte, Arte y Entretenimiento.<br><br>Reedición del clásico Carrera de Mente.</p>
                </div>
            </div>
        </div>
    </div>
</section>
